@media (min-width: 768px) {
  main {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: calc(100% - 160px) !important;
    max-width: calc(100% - 160px) !important;
  }
}

.ct-label {
  fill: white !important;
}

.row {
  margin-bottom: 30px;
}
