@media (min-width: 768px) {
  .navbar-brand {
    flex: 0 0 160px;
    max-width: 160px;
  }
}

@media (min-width: 576px) {
  .navbar-brand {
    flex: 0 0 160px;
    max-width: 160px;
  }
}

.nav-link-welcome {
  color: white;
  margin-right: 5px;
}

.nav-link-nospacing {
  display: initial;
  padding: initial;
}
